# Global snippets

# (c) holds no legal value ;)
snippet c)
	`&enc[:2] == "utf" ? "©" : "(c)"` Copyright `strftime("%Y")` ${1:`g:snips_author`}. All Rights Reserved.${2}
snippet date
	`strftime("%Y-%m-%d")`
snippet wctc
	/*
	  +----------------------------------------------------------------------+
	  | Webcazt Theme for WordPress                                          |
	  +----------------------------------------------------------------------+
	  | Copyright (C) 2012 Webcazt Studio. All rights reserved.              |
	  +----------------------------------------------------------------------+
	  | http://www.webcazt.com                                               |
	  +----------------------------------------------------------------------+
	  | Authors: hwz    <codernwz@gmail.com>                                 |
	  |          fanfan <fan.ccooz@gmail.com>                                |
	  +----------------------------------------------------------------------+
	*/
snippet wctcp
	/*
	  +----------------------------------------------------------------------+
	  | Webcazt Plugin for WordPress                                          |
	  +----------------------------------------------------------------------+
	  | Copyright (C) 2012 Webcazt Studio. All rights reserved.              |
	  +----------------------------------------------------------------------+
	  | http://www.webcazt.com                                               |
	  +----------------------------------------------------------------------+
	  | Authors: hwz    <codernwz@gmail.com>                                 |
	  |          fanfan <fan.ccooz@gmail.com>                                |
	  +----------------------------------------------------------------------+
	*/
snippet w
	webcazt
