[submodule "powerline"]
	path = powerline
	url = https://github.com/Lokaltog/powerline.git
[submodule "vim"]
	path = vimrc
	url = https://github.com/yantze/vimrc.git
[submodule "module/z"]
	path = module/z
	url = https://github.com/rupa/z.git
[submodule "module/cheat"]
	path = module/cheat
	url = https://github.com/chrisallenlane/cheat.git
[submodule "module/prezto"]
	path = module/prezto
	url = https://github.com/sorin-ionescu/prezto.git
[submodule "module/zsh-completions"]
	path = module/zsh-completions
	url = https://github.com/zsh-users/zsh-completions
